
/*Start  Barre de navigation */

.navbar {
    margin-bottom: 0;
    padding-right: 4vw;
    padding-left: 4vw;
    width:100%;
}

.logo {
    height:50px;
}

/*End Barre de navigation */

/*Start thumbnail*/

.thumbnail {
    margin-top: 5vh;
    margin-bottom: 0;
}

.thumbnail img {
    height: 40vh;
}

/*End thumbnail*/

/* Formulaire d'upload*/

.container {
    margin-top: 15vh;
}